<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd    
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd    
	http://www.springframework.org/schema/context    
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 配置action scope:默认为单例 -->
	<bean id="loginAction" class="com.lw.jk.action.LoginAction" scope="prototype">
	</bean>
	<bean id="homeAction" class="com.lw.jk.action.HomeAction" scope="prototype"></bean>
	<!-- 配置部门action -->
	<bean id="deptAction" class="com.lw.jk.action.sysadmin.DeptAction">
		<property name="deptService" ref="deptService"></property>
	</bean>
	<bean id="userAction" class="com.lw.jk.action.sysadmin.UserAction">
		<property name="deptService" ref="deptService"></property>
		<property name="userService" ref="userService"></property>
		<property name="roleService" ref="roleService"></property>
	</bean>
	<bean id="roleAction" class="com.lw.jk.action.sysadmin.RoleAction">
		<property name="roleService" ref="roleService"></property>
		<property name="moduleService" ref="moduleService"></property>
	</bean>
	<!-- 模块 -->
	<bean id="moduleAction" class="com.lw.jk.action.sysadmin.ModuleAction">
		<property name="moduleService" ref="moduleService"></property>
	</bean>

	<bean id="contractAction" class="com.lw.jk.action.cargo.ContractAction">
		<property name="contractService" ref="contractService"></property>
	</bean>

	<bean id="contractProductAction" class="com.lw.jk.action.cargo.ContractProductAction">
		<property name="contractProductService" ref="contractProductService"></property>
		<property name="factoryService" ref="factoryService"></property>
	</bean>

	<bean id="extCproductAction" class="com.lw.jk.action.cargo.ExtCproductAction">
		<property name="extCproductService" ref="extCproductService"></property>
		<property name="factoryService" ref="factoryService"></property>
	</bean>
	
	<bean id="outProductAction" class="com.lw.jk.action.cargo.OutProductAction">
		<property name="contractService" ref="contractService"></property>
		<property name="contractProductService" ref="contractProductService"></property>
	</bean>
	<bean id="exportAction" class="com.lw.jk.action.cargo.ExportAction">
		<property name="exportService" ref="exportService"></property>
		<property name="contractService" ref="contractService"></property>
		<property name="exportProductService" ref="exportProductService"></property>
		<property name="epService" ref="exportClient"></property>
	</bean>
	<!-- 报表action -->
	<bean id="statChartAction" class="com.lw.jk.action.stat.StatChartAction">
		<property name="statChartService" ref="statChartService"></property>
	</bean>
	<!-- 配置 装箱管理-->
	<bean id="packingListAction" class="com.lw.jk.action.cargo.PackingListAction" scope="prototype">
		<property name="packingListService" ref="packingListService"/>
		<property name="exportService" ref="exportService"></property>
	</bean>
	<!-- 配置委托管理 -->
	<bean id="shippingOrderAction" class="com.lw.jk.action.cargo.ShippingOrderAction">
		<property name="shippingOrderService" ref="shippingOrderService"></property>
		<property name="packingListService" ref="packingListService"></property>
	</bean>
	<!-- 发票管理 -->
	
	<bean id="invoiceAction" class="com.lw.jk.action.cargo.InvoiceAction" scope="prototype">
		<property name="invoiceService" ref="invoiceService"/>
		<property name="shippingOrderService" ref="shippingOrderService"></property>
	</bean>
	<!-- 财务管理 -->
	<bean id="financeAction" class="com.lw.jk.action.cargo.FinanceAction" scope="prototype">
		<property name="financeService" ref="financeService"/>
		<property name="invoiceService" ref="invoiceService"></property>
	</bean>
</beans>
